<div class="container">
    <h1>Welcome to the Customers Page</h1>
    <hr>
    <button (click)="addNewCustomer($event)" class="btn btn-primary">Add customer</button>
    <p *ngIf="show_customer; else showThis">New customer added</p>
    <ng-template #showThis>
        <p>No new customer</p>
    </ng-template>
    <p [ngStyle]="{'backgroundColor':show_customer===true?'green':'red'}">This is tag 1</p>
    <p [ngStyle]="{'backgroundColor': setColor()}">This is tag 2</p>
    <p [style.background-color]="show_customer===true?'blue':'pink'">This is red</p>

    <p [ngClass]="{'red-class':(show_customer===true || is_disabled===true)}">This is my Class 1</p>
    <p [ngClass]="show_customer===true?'red-class':'green-class'">This is my Class 2</p>

    <div *ngFor="let customer of customerArray; index as i">
        <app-customer [customer]="customer" (customerChanged)="listenToChanges($event)" [test]="test">

        </app-customer>
        <button class="btn btn-danger" (click)="onDelete(i)"> Delete</button>
    </div>
    <!-- <app-customer [test]="test">
        <h1 #Projected>This content was projected</h1>
    </app-customer> -->
    <!-- <p *ngFor="let customer of customerArray;index as i">{{customer.name}}----{{i}}</p> -->
</div>

<h1 appHighlight [text]="'Welcome Bob'">Welcome</h1>

